// LOCATION SECTION
.location-container {
    background-color: rgba(0,0,0, 0.6);
    border-radius: 10px;
    text-align: center;
    padding: 70px 60px;
    color: $light-color;
}

.location  {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: $light-color;
    height: 100vh;
    @include flex-center(row);
    .wrapper{
        @include flex-center(row);
    }
    .title {
        margin-bottom: 15px;
    }
}

.hide-section {
    visibility: hidden;
    height: 0;
}

.dropdown-container{
    position: relative;
}

//CUISINE SECTION
.cuisine-container {
    max-width: 700px;
    background-color: rgba(0,0,0, 0.6);
    border-radius: 10px;
    text-align: center;
    padding: 70px 60px;
    color: $light-color;
    box-shadow: $dark-color 10px 10px 10px;
}



.hide {
    position: absolute;
    top: -9999px;
    left: -9999px;
 }

.cuisine  {
    background-color: $light-color;
    // background-image: url('../assets/brooke-lark-wMzx2nBdeng-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    .wrapper{
        @include flex-center(column);
    }
}

//Dynamic Tile
.restaurants {
    .restaurant-heading-container{
        text-align: center;
        padding: 100px 0;
        h2{
            @include font-specs ($rale, 5rem, 600, $primary-accent);
        }
    }

    .restaurant-list{
        flex-wrap: wrap;
        @include flex-center();
        align-items: stretch;
    }

    .resto-tile{
        background-color: $light-color;
        width: calc((100% / 3) - 30px);
        min-width: 320px;
        padding: 15px;  
        padding-bottom: 30px;
        margin: 15px;
        @include flex-center(column);
        justify-content: space-between;
    }

    .resto-title-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 10px 0;
        h4 {
            align-self: flex-end;
        }
    }
    .fa-star {
        margin-top: 10px;
    }
    .resto-info {
        margin-bottom: 35px;
        
        li{
            padding: 5px 5px;
        }
    }

    .read-more-container {
        display: flex;
        justify-content: center;
    }
    .read-more {
        background-color: $primary-accent;
        padding: 10px 25px;
        box-shadow: $secondary-color 3px 3px 5px;
    }

    .err{
        color: $primary-accent;
    }
}