// LOCATION SECTION
.location-container {
    max-width: 700px;
        background-color: rgba(0,0,0, 0.6);
        border-radius: 10px;
        text-align: center;
        padding: 70px 60px;
        color: $light-color;
        box-shadow: $dark-color 10px 10px 10px;
}



.location  {
    background-color: $light-color;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    .wrapper{
        @include flex-center(column);
    }
    .location-title {
        margin-bottom: 15px;
    }
}

//CUISINE SECTION
.cuisine-container {
    max-width: 700px;
    background-color: rgba(0,0,0, 0.6);
    border-radius: 10px;
    text-align: center;
    padding: 70px 60px;
    color: $light-color;
    box-shadow: $dark-color 10px 10px 10px;
}



.cuisine  {
    background-color: $secondary-accent;
    background-image: url('../brooke-lark-wMzx2nBdeng-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    .wrapper{
        @include flex-center(column);
    }
    .cuisine-title {
        margin-bottom: 15px;
    }
}

//Dynamic Tile
.restaurants {
    img {
        max-height: 380px;
        height: 200px;
        width: 100%;
    }
    .restaurant-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .resto-tile {
        width: calc((100% / 3) - 30px);
        min-width: 300px;
        background-color: $light-color;
        padding: 15px;
        padding-bottom: 30px;
        margin: 15px;
        position: relative;
    }
    .resto-title-container {
        display: flex;
        justify-content: space-between;
        
    }
    .fa-star {
        margin-top: 10px;
    }
    .resto-info {
        margin-bottom: 35px;
    }

    .read-more-container {
        display: flex;
        justify-content: center;
    }
    .read-more {
        background-color: $primary-accent;
        padding: 10px 25px;
        border-radius: 5px;
        position: absolute;
        bottom: 18px;

        // display: inline-flex;
        // justify-content: center;
        // align-self: center;
        // margin-left: 35%;
        box-shadow: $secondary-color 10px 10px 10px;
    }
}