//Font Specifications

//Header
h1 {
    @include font-specs ($rale, 6rem, 500, $light-color);
}

p {
    @include font-specs ($sans, 3rem, 400, $light-color);
}

.start-button {
    @include font-specs ($sans, 2.8rem, 500, $light-color);
}

//Main
h2 {
    @include font-specs ($rale, 3.3rem, 500, $light-color);
}

select {
    font-size: 2.2rem;
    padding: 2px;
    color: $secondary-color;
}

//Dynamic Tiles
h3 {
    @include font-specs ($rale, 3rem, 500, $primary-accent)
}

h4 {
    @include font-specs ($rale, 1.5rem, 400, $primary-accent);
    line-height: 1.4;
}

.resto-info {
    @include font-specs ($sans, 1.6rem, 400, $dark-color)
}

.read-more {
    @include font-specs ($rale, 1.8rem, 500, $dark-color)
}

//Footer 

h5 {
    @include font-specs ($rale, 1.8rem, 500, $dark-color)
}

.capitalize{
    text-transform: capitalize;
}