//Color
$primary-color: #1150D0;
$secondary-color: #001F54;
$primary-accent: #E76F51;
$secondary-accent: #e9c46a;
$dark-color: #0B132B;
$light-color: #f0f0f0;
//Font Variables
$sans: 'Open Sans', sans-serif;
$rale: 'Raleway', sans-serif;

@mixin flex-center($direction : row){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin font-specs($font, $size, $weight, $color:$primaryFontColor ) {
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    color: $color;
};
