article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 6rem;
  font-weight: 500;
  color: #f0f0f0;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: #f0f0f0;
}

.start-button {
  font-family: "Open Sans", sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
  color: #f0f0f0;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 3.3rem;
  font-weight: 500;
  color: #f0f0f0;
}

select {
  font-size: 2.2rem;
  padding: 2px;
  color: #001F54;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: #E76F51;
}

h4 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #E76F51;
  line-height: 1.4;
}

.resto-info {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #0B132B;
}

.read-more {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: #0B132B;
}

h5 {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: #0B132B;
}

.capitalize {
  text-transform: capitalize;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.5;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

figure {
  margin: 0;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

.a-btn:hover,
.a-btn:focus {
  background-color: #e9c46a;
}

.resto-tile .read-more:hover,
.resto-tile .read-more:focus {
  background-color: #e9c46a;
}

i:hover,
i:focus,
footer a:hover,
footer a:focus {
  color: #e9c46a;
}

header {
  height: 100vh;
  background-image: url("../assets/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header .wrapper, header .header-container {
  height: inherit;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header h1 {
  margin-bottom: 20px;
}

header .title {
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: center;
  padding: 40px 50px;
  color: #f0f0f0;
}

header .start-button a {
  color: #f0f0f0;
  background-color: #E76F51;
  border: 2px solid #f0f0f0;
  border-radius: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  -webkit-box-shadow: #001F54 10px 10px 10px;
          box-shadow: #001F54 10px 10px 10px;
}

.location-container {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: center;
  padding: 70px 60px;
  color: #f0f0f0;
}

.location {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #f0f0f0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.location .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.location .title {
  margin-bottom: 15px;
}

.hide-section {
  visibility: hidden;
  height: 0;
}

.dropdown-container {
  position: relative;
}

.cuisine-container {
  max-width: 700px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: center;
  padding: 70px 60px;
  color: #f0f0f0;
  -webkit-box-shadow: #0B132B 10px 10px 10px;
          box-shadow: #0B132B 10px 10px 10px;
}

.hide {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.cuisine {
  background-color: #f0f0f0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cuisine .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants .restaurant-heading-container {
  text-align: center;
  padding: 100px 0;
}

.restaurants .restaurant-heading-container h2 {
  font-family: "Raleway", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  color: #E76F51;
}

.restaurants .restaurant-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.restaurants .resto-tile {
  background-color: #f0f0f0;
  width: calc((100% / 3) - 30px);
  min-width: 320px;
  padding: 15px;
  padding-bottom: 30px;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants .resto-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px 0;
}

.restaurants .resto-title-container h4 {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.restaurants .fa-star {
  margin-top: 10px;
}

.restaurants .resto-info {
  margin-bottom: 35px;
}

.restaurants .resto-info li {
  padding: 5px 5px;
}

.restaurants .read-more-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restaurants .read-more {
  background-color: #E76F51;
  padding: 10px 25px;
  -webkit-box-shadow: #001F54 3px 3px 5px;
          box-shadow: #001F54 3px 3px 5px;
}

.restaurants .err {
  color: #E76F51;
}

footer {
  background-color: #f0f0f0;
  padding: 60px 0;
  margin-top: 50px;
}

footer p {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: #0B132B;
  text-align: center;
}

.social-media-icons {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media-icons i {
  font-size: 3rem;
  padding: 5px;
}

.fab:hover {
  -webkit-animation: shake 3s linear infinite;
          animation: shake 3s linear infinite;
}

@-webkit-keyframes shake {
  0% {
    top: 0;
    -webkit-transform: none;
            transform: none;
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    top: 100vh;
  }
}

@keyframes shake {
  0% {
    top: 0;
    -webkit-transform: none;
            transform: none;
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    top: 100vh;
  }
}

@media (max-width: 1183px) {
  .restaurants .resto-tile {
    width: calc((100% / 2) - 30px);
  }
}

@media (max-width: 794px) {
  header h1 {
    font-size: 3.8rem;
  }
  header p {
    font-size: 2rem;
  }
  header a {
    font-size: 2rem;
  }
  header .start-button {
    position: relative;
    bottom: 0;
  }
  h2 {
    font-size: 2.2rem;
  }
  select {
    font-size: 1.8rem;
  }
  .restaurants .resto-tile {
    width: calc((100% / 1.3) - 30px);
  }
}

@media (max-width: 640px) {
  .restaurants .resto-tile {
    width: 100%;
  }
}
